<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Check Calculator </title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Please enter information into the fields.</h1>
    <form action="{{url_for('netcheck')}}" method="POST">
        <input title="Please enter your gross wages." placeholder="Gross wages"
               type="number" name="gross_wages" required><br>
        <input title="Please enter your pre-tax deductions." placeholder="Pre-Tax Deductions"
               type="number" name="pretax_ded" required><br>
        <input title="Please enter your payroll frequency" placeholder="Payroll Frequency"
               type="text" name="pay_freq" required><br>
        <input title="Please enter your marital status" placeholder="Marital Status"
               type="text" name="marital_status" required><br>
        <input title="Please enter your number of federal dependents" placeholder="No. of Fed Dependents"
               type="number" name="fed_dependents_num" required><br>
        <input title="Please enter your number of state dependents" placeholder="No. of State Dependents"
               type="number" name="st_dependents_num" required><br>
        <select name="State">
            <option value="NY"> New York </option>
            <option value="SC"> South Carolina </option>
        </select><br><br>

        <button type="submit"> Submit </button>

    </form>


</div>

</body>
</html>